* {
  font-family: 'Roboto';
}

.pro-about, #prifile-about #profile-settings h6, #prifile-about #about-settings h6 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

#side-menu {
  padding: 30px !important;
}

#side-menu .logo {
  color: #26B0FF;
}

#side-menu #menu {
  margin-top: 20px;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: start !important;
}

#side-menu #menu .nav-item {
  margin: 10px 0;
}

#side-menu #menu .nav-item .nav-link {
  color: #6A7178;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

#side-menu #menu .nav-item .nav-link i {
  color: #6A7178;
  font-size: 25px;
  width: 40px;
}

#side-menu #menu .nav-item .active, #side-menu #menu .nav-item #prifile-about #profile-settings .nav-link:focus, #prifile-about #profile-settings #side-menu #menu .nav-item .nav-link:focus {
  color: black;
}

#side-menu #menu .nav-item .active i, #side-menu #menu .nav-item #prifile-about #profile-settings .nav-link:focus i, #prifile-about #profile-settings #side-menu #menu .nav-item .nav-link:focus i {
  color: black;
}

#side-menu #menu .nav-item .btn-primary {
  background-color: #26B0FF;
  font-weight: 700;
  font-size: 16px;
  padding: 8px 45px;
  border-radius: 32px;
}

#prifile-about {
  margin: 0 !important;
  padding: 0 !important;
}

#prifile-about #profile-settings h6 i {
  margin-right: 10px;
}

#prifile-about #profile-settings .active, #prifile-about #profile-settings .nav-link:focus {
  color: white !important;
  background-color: #6A7178 !important;
}

#prifile-about #profile-settings .nav-link {
  color: #6A7178;
  padding: 10px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5px;
  background-color: rgba(178, 227, 255, 0.14);
}

#prifile-about #profile-settings .nav-link .start i {
  display: none;
}

#prifile-about #about-settings #account-type #account-type-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #6A7178 !important;
  height: 162px;
}

#prifile-about #about-settings #account-type #account-type-top i {
  padding: 10px;
  border-radius: 50%;
  background-color: white;
}

#prifile-about #about-settings #account-type #account-type-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#prifile-about #about-settings #account-type #account-type-center .image {
  position: relative;
  padding: 10px;
  top: -65px;
}

#prifile-about #about-settings #account-type #account-type-center .image img {
  margin-left: 41px;
  width: 92px;
  height: 92px;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}

#prifile-about #about-settings #account-type #account-type-center .image i {
  position: absolute;
  bottom: 12px;
  right: 16px;
  padding: 5px;
  background-color: white;
  border-radius: 100%;
  -webkit-box-shadow: 0 8px 8px -4px lightblue;
          box-shadow: 0 8px 8px -4px lightblue;
}

#prifile-about #about-settings #account-type #account-type-center .title {
  margin-top: 5px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

#prifile-about #about-settings #account-type #account-type-center .title span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6A7178;
}

#prifile-about #about-settings #account-type #account-type-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

#prifile-about #about-settings #account-type #account-type-end #account-type-description {
  text-align: center;
  width: 80%;
  margin: auto;
}

#prifile-about #about-settings #account-type #account-type-end #btn-verification {
  background-color: #26B0FF;
  color: white;
  width: 70%;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  #side-menu .logo {
    display: block;
  }
  #side-menu .logo span {
    display: none;
  }
  #side-menu .nav .nav-item .nav-link {
    padding: 5px !important;
  }
  #side-menu .nav .nav-item .nav-link span {
    display: none;
  }
  #side-menu .nav .nav-item .btn {
    padding: 8px 18px !important;
  }
  #prifile-about {
    margin: 0 !important;
    padding: 0 !important;
  }
  #prifile-about #profile-settings h6 {
    font-size: 12px;
  }
  #prifile-about #profile-settings h6 i {
    display: none;
  }
  #prifile-about #profile-settings .nav-link .start span {
    display: none;
  }
  #prifile-about #profile-settings .nav-link .start i {
    display: block;
  }
  #prifile-about #about-settings h6 {
    font-size: 12px;
  }
  #prifile-about #about-settings #account-type #account-type-center .image img {
    margin-left: 0;
  }
  #prifile-about #about-settings #account-type #account-type-center .title {
    font-size: 18px;
  }
  #prifile-about #about-settings #account-type #account-type-center .title span {
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */